In [2]:
import pandas as pd

adult_df = pd.read_csv(r"C:\Dataset\adult.data.csv")
adult_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### Questions to Answers:
        1. How many people of each race are represented in this dataset? (Should be a pandas series with race names
            as the index labels)
        2. What is the average age of men?
        3. What is the percentage of people who have a Bachelor's degree?
        4. What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
        5. What percentage of people without advanced education make more than 50K?
        6. What is the minimum number of hours a person works per week?
        7. What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
        8. What country has the highest percentage of people that earn >50K and what is that percentage?
        9. Identify the most popular occupation for those who earn >50K in India

##### How many people of each race are represented in this dataset?

In [3]:
race_count = adult_df["race"].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

##### What is the average age of men?

In [4]:
average_age_men = adult_df[adult_df["sex"] == "Male"]["age"].mean()
print(f'The averge age of men is {round(average_age_men, 2)}.')

The averge age of men is 39.43.

##### What is the percentage of people who have bachelor's degree?

In [5]:
percentage_bachelor = (len(adult_df[adult_df["education"] == "Bachelors"]) / len(adult_df)) * 100
print(f'{round(percentage_bachelor, 2)}% of people have bacherlor degree.')

16.45% of people have bacherlor degree.

##### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [6]:
AEs = ["Bachelors", "Masters", "Doctorate"]
sum_AE = 0
sum_AE_over_50k = 0
for AE in AEs:
    sum_AE += len(adult_df[adult_df["education"] == AE])
    sum_AE_over_50k += len(adult_df[(adult_df.education == AE) & (adult_df.salary == ">50K")])
percentage_with_AE_over_50k = (sum_AE_over_50k / sum_AE) * 100
print(f'{round(percentage_with_AE_over_50k, 2)}% of people with advanced education make more than 50K.')

46.54% of people with advanced education make more than 50K.

##### What percentage of people without advanced education make more than 50K?

In [7]:
over_50k = len(adult_df[adult_df.salary == ">50K"])
over_50k_without_AE = over_50k - sum_AE_over_50k
print(f'{round((over_50k_without_AE / over_50k) * 100, 2)}% of people without advanced education make more than 50K.')

55.54% of people without advanced education make more than 50K.

##### What is the minimum number of hours a person works per week?

In [8]:
min_hour = adult_df["hours-per-week"].min()
print(min_hour)

1

##### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [9]:
nums_min_hour = len(adult_df[adult_df["hours-per-week"] == 1])
nums_min_hour_over_50k = len(adult_df[(adult_df["hours-per-week"] == 1) & (adult_df["salary"] == ">50k")])
print(f'{round((nums_min_hour_over_50k / nums_min_hour) * 100, 2)}% of the people who work the minimum number of hours per \
week have a salary of more than 50k.')

0.0% of the people who work the minimum number of hours per week have a salary of more than 50k.

##### What country has the highest percentage of people that earn >50K and what is that percentage?

In [19]:
countries_over_50k = adult_df[adult_df["salary"] == ">50K"]["native-country"].value_counts()
print(f'{countries_over_50k.index[0]} has the highest percentage of people that earn >50K.')
print(f'It compries {round((countries_over_50k[0] / over_50k) * 100, 2)}% of people that earn >50K.')

United-States has the highest percentage of people that earn >50K.
It compries 91.46% of people that earn >50K.

##### Identify the most popular occupation for those who earn >50K in India

In [16]:
over_50k_India = adult_df[(adult_df["salary"] == ">50K") & (adult_df["native-country"] == "India")]
occupation = over_50k_India["occupation"].value_counts()
print(occupation.index[0])

Prof-specialty